.flow{
  .describe-label {
    margin-bottom: 8px;
    color: #333;
    line-height: 21px;
    text-align: left;
  }

  .onb-paragraph-subheading-2 {
    margin-bottom: 8px;
    color: #333;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
  }

  .onb-form-checkbox-list {
    color: transparent;
  }

  .onb-checkbox-label {
    padding: 18px 16px 18px 6px;
    width: 100%;
    color: #333;
  }

  .checkbox-field-extra-space {
    display: block;
    margin-bottom: 8px;
    padding-left: 35px;
    border-radius: 4px;
    background-color: #f0f0f0;
  }

  .onb-checkbox {
    margin-top: 22px !important;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .location-text-field {
    height: 56px;
    padding-top: 8px;
    padding-left: 18px;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e4e4;
    border-radius: 4px;
    font-size: 16px;
  }

  .location-text-field:active {
    background-color: #fff;
  }

  .location-text-field:focus {
    background-color: #fff;
    border-color: #0dba52;
  }

  .location-text-field::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .3);
  }

  .location-text-field:-ms-input-placeholder {
    color: rgba(0, 0, 0, .3);
  }

  .location-text-field::placeholder {
    color: rgba(0, 0, 0, .3);
  }
}
